:root {
    --mediaflixYellow: #f3cf00;
    --mediaflixBlack: #1b1725;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Basic elements */

body {
    background: var(--mediaflixBlack);
    font-family: 'Arial', Times, serif;
    color: white;
}

#main-header {
    position: fixed;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-color: var(--mediaflixBlack);
    z-index: 50;
}

#main-header .container {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#main-header .logo {
    color: var(--mediaflixYellow);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

.search-wrapper {
    display: flex;
    width: 900px;
    height: 80px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 60%;
    height: 40px;
    left: 0px;
    padding: 0px 25px;
    outline: none;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.search-button {
    right: 0px;
    margin-left: 5px;
    width: 30%;
    height: 40px;
    border-radius: 25px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s all;
    text-align: center;
}

.search-button:hover {
    background-color: white;
    color: var(--mediaflixBlack);
}

#main-header nav a {
    color: #ccc;
    margin-right: 20px;
    text-decoration: none;
}

#main-header nav a:hover {
    color: #fff;
}

#main-header nav a i {
    margin-right: 5px;
}

.main-title {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)100%), url('https://occ-0-2794-2219.1.nflxso.net/dnm/api/v6/E8vDc_W8CLv7-yMQu8KMEC7Rrr8/AAAABUb8y4ccuEVy561Cyng-U7DYPnvBSEtASh7jutgnPDpIpjLmnSW3ke7syU6UCS9XFi9WbJ3PDfMRN3qwuzCP6iTlMTnB.jpg?r=72c');
    height: 800px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-title .description {
    margin-top: 10px;
    margin-bottom: 40px;
}

.main-title .title {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.buttonNet {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 7px;
}

.buttonNet:hover {
    background-color: white;
    color: black;
}

.buttonNet i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
}

.main-title .container {
    width: 70%;
}


/* titles */

.square-item .title-image,
.item .title-image {
    filter: brightness(90%);
    filter: saturate(98%);
    width: 100%;
    margin: auto;
    opacity: 0.86;
}

.item:hover .title-image,
.square-item:hover .title-image {
    filter: brightness(108%);
    filter: saturate(119%);
    transition: .5s all ease-in-out;
    opacity: 1;
}

.carousel-movies {
    margin-top: 10px;
}

.collection-name {
    font-size: 25px;
    margin: 30px 30px 10px 30px;
}

.item {
    height: 29rem;
    overflow: hidden;
    border-radius: 8px;
    transition: 0.35 all;
    border: 3px solid transparent;
}

.item:hover {
    border: 2.3px solid var(--mediaflixYellow);
}

.square-item {
    height: 22.7rem;
    overflow: hidden;
    border-radius: 8px;
    transition: 0.35 all;
    border: 3px solid transparent;
}

.square-item:hover {
    border: 2.3px solid var(--mediaflixYellow);
}

.item-view {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    left: 0px;
    bottom: 0px;
    border: 3px solid transparent;
    border-radius: 0px 0px 8px 8px;
    transition: 0.3s all;
}

.item:hover .item-view,
.square-item:hover .item-view {
    background-color: rgba(0, 0, 0, .7);
}

.item-view .buttonNet,
.square-item-view .buttonNet {
    font-size: 25px;
    color: transparent;
    background-color: rgba(0, 0, 0, 0);
    padding: 15px;
    border-radius: 50px;
}

.item:hover .buttonNet,
.square-item:hover .buttonNet {
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    padding: 15px 60px;
    background-color: rgba(0, 0, 0, 0.8);
}

.item:hover .buttonNet:hover,
.square-item:hover .buttonNet:hover {
    color: black;
    font-size: 25px;
    padding: 15px 80px;
    background-color: white;
}


/* Page footer */

footer {
    margin-top: 25px;
    width: 100%;
    height: 75px;
    font-size: 20px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}

footer h6 {
    margin-top: 0px;
    margin-right: 100px;
    color: aliceblue;
}

footer a {
    font-size: 15px;
    text-decoration: none;
    color: var(--mediaflixYellow);
    margin-right: 80px;
}

footer a:hover {
    color: white;
}