@media screen and (max-width:700px) {
    #main-header {
        height: 90px;
    }
    #main-header .container {
        display: block;
        flex-direction: column;
        margin-bottom: 10px;
    }
    #main-header .logo {
        position: relative;
        font-size: 25px;
        width: 100%;
        height: 50%;
        margin: 0px;
    }
    #main-header nav {
        display: none;
    }
    .search-wrapper {
        margin: 0px;
        width: 100%;
        height: 50%;
    }
    .search-bar {
        font-size: 17px;
        height: 40px;
    }
    .search-button {
        font-size: 17px;
        height: 40px;
    }
    .main-movie {
        height: 500px;
        margin-bottom: 20px;
    }
    .buttonNet {
        margin-bottom: 7px;
        width: 300px;
    }
    .collection-name {
        font-size: 26.5px;
        margin: 8px 30px 10px 30px;
    }
    .square-item .box-movie,
    .item .box-movie {
        filter: brightness(100%);
        width: 100%;
        margin: auto;
        opacity: 1;
    }
}

@media screen and (min-width:1000px) {
    .description {
        width: 50%;
    }
}